@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,400&display=swap');

html,
body {
	scroll-behavior: smooth;
	background-color: #f6f6f6;
	font-family: 'Comic Neue', monospace;
	font-weight: 500;
}

:root {
	--dark-green: #5dd9c1;
	--light-green: #acfcd9;
	--light-purple: #b084cc;
	--dark-purple: #665687;
	--dark-black: #190933;
}

img {
	max-width: 100%;
	max-height: 100%;
}

ul {
	list-style: none;
}

a {
	color: #000;
	text-decoration: none;
}

.link {
	transition: all 0.3s ease-in-out;
}
.link:hover {
	color: var(--hover-color);
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.section-padding {
	padding-top: 40px;
	padding-bottom: 40px;
}

.auth {
	background-color: #f6f6f6;
}
.auth__container {
	height: 500px;
	min-height: calc(100vh - 60px);
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 450px;
}

.auth__form {
	position: relative;
	min-height: 60%;
	max-height: auto;
	background-color: #fff;
	width: 100%;
	display: flex;
	flex-direction: column;
	grid-gap: 20px;
	gap: 30px;
	border-radius: 8px;
	padding: 50px;
	box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}

/* .auth__worldcup {
	position: absolute;
	top: -56px;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 100px;
} */

.auth__text {
	font-size: 36px;
	margin: 20px 0;
	text-align: center;
	white-space: nowrap;
	background: linear-gradient(to right, #9599e2, #8bc6ec);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.form-control {
	height: 50px;
	border: 0;
	padding: 10px;
	border-radius: 3px;
	outline: 0;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 12px;
	border-radius: 4px;
	border: none;
	outline: 0;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	font-size: 25px;
}
.primary {
	background-color: #9599e2;
	color: #fff;
}
.secondary {
	background-color: #fff;
	color: #9599e2;
}

.btn:hover {
	box-shadow: 0 0 15px rgba(0 0 0 / 15%);
	transform: rotate(1deg);
	/* transform: scale(1.1); */
}

.waving-line.center:after {
	left: 50%;
	transform: translateX(-50%);
}
.waving-line:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 114px;
	height: 12px;
	animation: waving-line 12s linear infinite;
	-webkit-animation: waving-line 12s linear infinite;
	background: url('assets/images/waving-line.png');
}
/* Waving Line Animation */
@keyframes waving-line {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -200px 0;
	}
}
@-webkit-keyframes waving-line {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -200px 0;
	}
}
