.login {
	background-color: #f6f6f6;
}
.login__container {
	height: 500px;
	min-height: calc(100vh - 60px);
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 450px;
}

.login__form {
	position: relative;
	height: 60%;
	background-color: #fff;
	width: 100%;
	display: flex;
	flex-direction: column;
	grid-gap: 20px;
	gap: 35px;
	border-radius: 8px;
	padding: 50px;
	box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}

.login__worldcup {
	position: absolute;
	top: -56px;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 100px;
}

.login__text {
	font-size: 48px;
	margin: 20px 0;
	text-align: center;
}

.form-control {
	height: 50px;
	border: 0;
	padding: 10px;
	border-radius: 3px;
	outline: 0;
}
