.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	min-height: calc(100vh - 180px);
	padding: 20px;
}

.startSeason {
	position: relative;
}
/* 
.btn {
	composes: btn from '../../Components/Button/Button.module.css';
}

.btn:hover .rotatedText {
	transform: rotate(-9deg);
	opacity: 1;
	color: #000;
}

.rotatedText {
	composes: btn from '../../Components/Button/Button.module.css';
	position: absolute;
	bottom: -35px;
	white-space: nowrap;
	opacity: 0;
} */
